NODE_ENV="development"
PORT=8080

DB_HOST=""
DB_PORT=""
DB_USER=""
DB_PASSWORD=""
DB_NAME=""
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

ENCRYPTION_KEY=""

JWT_SECRET=""
JWT_REFRESH_SECRET=""

# Dados usuario super admin
DEFAULT_SUPERADMIN_EMAIL="admin@admin.com" 
DEFAULT_SUPERADMIN_PASSWORD="Admin@123"